@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
.year-card h2 {
    /* color: #3282b8; */
    color: #09d3ac;
}

.year-card .details {
    padding-left: 50px;
}

.time {
    display: flex;
    align-items: center;
}

.time img {
    padding-left: 12px;
}

.time strong{
    padding-left: 10px;
    text-decoration: bold;
}

.media-card {
    padding-left: 50px;
    padding-bottom: 20px;
}

.visit-btn {
    padding: 5px;
}
