@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
.year-card h3 {
    color: coral;
}

.year-card .details {
    padding-left: 20px;
}

.time {
    display: flex;
    align-items: center;
}

.time p {
    padding-left: 10px;
}