.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: rgba(51, 121, 135);
}

/* Control the right side */
.right {
  right: 0;
  background-color: rgba(166, 67, 97);
}
/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}
.ninja-img {
  animation-name: ninja-anime;
  animation-duration: 0.2s;
}
.home-transition {
  width: 150px;
  height: 50px;
  background: rgba(166, 67, 97);
  box-shadow: 0px 0px 5px 10px #888888;
  transition: width 2s;
}
.home-transition:hover {
  width: 300px;
}

@keyframes ninja-anime {
  from {
    /* height: 50px; */
    width: 50px;
  }
  to {
    /* height: 55px; */
    width: 55px;
  }
}

@media (max-width: 500px) {
  .home {
    padding: 100px 40px;
  }
}
