@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.services-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* width: auto; */
  background-color: #1b262c;
  color: #fff;
  align-items: center;
}

.service-card {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 300px;
}
.service-card i {
  padding: 5px;
  border: white solid 1px;
  border-radius: 50%;
  border-color: white;
}
