.ninja-img-resume {
  width: 150px;
}
.resume-right-col {
  /* background: #27221f; */
  /* background-color: rgb(16, 168, 166); */
  background-color: #322f3d;

  color: white;
  padding: 2em;
}

.resume-top {
  display: flex;
  justify-content: space-between;
  /* background-color: #322f3d; */
}
.resume-top-left {
  /* background-color: #322f3d; */
  /* padding-top: 10px; */
  color: #322f3d;
  margin-top: 15px;
}

.main-support {
  margin-top: 10em;
}

.resume-top-right {
  background-color: #322f3d;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
}

.resume-top-right span {
  background-color: #322f3d;
  color: white;
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  align-self: center;
}
