@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.main-cont {
  background-color: #1b262c;
}

.projects-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  height: auto;
  padding-bottom: 172px;
  color: #fff;
}
.card-section {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.project-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
  padding: 10px 0;
  color: #fff;
}
.project-title hr {
  width: 100%;
  margin-top: 0;
  margin-bottom: 55px;
}
.projects-container hr {
  width: 50%;
  margin-top: 0;
  margin-bottom: 55px;
}
.recent {
  width: 100%;
  margin-top: 0;
  margin-bottom: 55px;
}
.p-img {
  width: 65px;
}

@media (max-width: 1200px) {
}

@media (max-width: 768px) {
  .recent {
    font-size: 42px;
  }
  .p-img {
    width: 35px;
  }
}

@media (max-width: 425px) {
  .recent {
    font-size: 32px;
  }
  .p-img {
    width: 25px;
  }
}
@media (max-width: 320px) {
  .recent {
    font-size: 32px;
  }
  .p-img {
    width: 25px;
  }
}
