@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.main-cont {
  background-color: #fff;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  height: auto;
  /* background-color: #232F3E; */
  /* background-color: #fff; */
  
  /* padding-bottom: 172px; */
}
.card-section {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.project-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
  padding: 10px 0;
  /* color: #fff; */
}
.project-title hr {
  width: 100%;
  margin-top: 0;
  margin-bottom: 55px;
}
.projects-container hr {
  width: 50%;
  margin-top: 0;
  margin-bottom: 55px;
}
.recent {
  width: 100%;
  margin-top: 0;
  margin-bottom: 55px;
}
.p-img {
  width: 65px;
}

@media (max-width: 1200px) {
  .projects-container {
    flex-direction: column;
    padding: 0px;
  }
 
}

@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
  }
  .recent {
    font-size: 42px;
  }
  .p-img {
    width: 35px;
  }
}

@media (max-width: 425px) {
  .recent {
    font-size: 32px;
  }
  .p-img {
    width: 25px;
  }
}
@media (max-width: 320px) {
  .recent {
    font-size: 32px;
  }
  .p-img {
    width: 25px;
  }
}
