@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.projects-container {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 40px;
  height: auto;
  padding-bottom: 172px;
}
.card-section {
  margin: 20px;
}
.project-title {
  font-size: 24px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 10px;
}

@media (max-width: 1200px) {
  /* .projects-container {
    flex-direction: column;
  } */
  .projects-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 40px;
    height: 1000;
  }
  .card-section {
    width: 300px;
  }
}

@media (max-width: 1025px) {
  .projects-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 40px;
    height: 1000;
  }
}
