@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.projects-container {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 40px;
  height: auto;
  padding-bottom: 172px;
  background-color: #1b262c;
  color: #fff;
}
.card-section {
  margin: 20px;
}
.project-title {
  font-size: 18px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 10px;
  padding-top: 20px;
  color: #fff;
  background-color: #1b262c;
  font-size: 45px;
}

@media (max-width: 1200px) {
  /* .projects-container {
    flex-direction: column;
  } */
  .projects-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 40px;
    height: 1000;
  }
  .card-section {
    width: 300px;
  }
  .recent {
    font-size: 20px;
    padding: 20px;
  }
  .p-img {
    width: 32px;
  }
}

@media (max-width: 1025px) {
  .projects-container {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 40px;
    height: 1000;
  }
}
