@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.main-cont {
  background-color: #1b262c;
}

.projects-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  height: auto;
  padding-bottom: 172px;
  color: #fff;
}
.card-section {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.project-title {
  font-size: 18px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 10px;
  padding-top: 20px;
  color: #fff;
  font-size: 45px;
}

.recent {
  font-size: 42px;
  padding: 10px;
}
.p-img {
  padding-top: 15px;
  width: 45px;
}

@media (max-width: 1200px) {
}

@media (max-width: 1025px) {
  .recent {
    font-size: 32px;
  }
}
