
.container {
    font-family: 'Courier New', Courier, monospace;
    min-height: 1000px;
    font-size: 18px;
}

.js {
    background-color: black;
    color: #F0DB4F;
    padding: 2px;
}
 main {
     line-height: 2em;
     font-weight: 400;
 }