@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
nav {
  flex: 1;
  /* position: fixed; */
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
.ninja-header {
  width: 25px;
  height: 25px;
}

.header-container {
  display: flex;
  padding: 20px 0;
  /* margin-left: -2px; */
  margin-right: -2px;
  margin-top: -2px;
  box-shadow: 1px 1px 1px 0.3px #cecece;
  width: 100%;
}
.message {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 10px;
  flex: 1;
  max-width: 30vw;
  transition: 250ms all;
}
.message:hover {
  transform: scale(1.004);
}
.nav-links {
  flex: 2;
  max-width: 60vw;
  align-items: center;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
}
.pad {
  padding: 0 100px;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 500px) {
  nav {
    width: 98%;
  }
  .logo {
    max-width: 50%;
  }
  .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50vw;
  }
  .link {
    padding: 3px;
  }
}
