@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
nav {
  flex: 1;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
.ninja-header {
  width: 25px;
  height: 25px;
}

.header-container {
  display: flex;
  padding: 20px 0;
  margin-right: -2px;
  margin-top: -2px;
  box-shadow: 1px 1px 1px 0.3px #cecece;
}
.message {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 10px;
  flex: 1;
  /* max-width: 30vw; */
  transition: 250ms all;
}
.message:hover {
  transform: scale(1.004);
}
.nav-links {
  flex: 2;
  /* max-width: 60vw; */
  align-items: center;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: white;
}
/*medium screens to large screens*/
@media (max-width: 1200px) {
  nav {
    width: 100%;
  }
  .message {
    flex: 2;
    font-size: 14px;
  }
  .nav-links {
    justify-content: center;
    padding: 0 5px;
  }
  .header-container {
    display: flex;
    padding: 20px 0;
    margin-top: 2px;
    box-shadow: 1px 1px 5px 0.3px #cecece;
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .nav-links {
    justify-content: space-evenly;
    padding: 0 20px;
  }
  .s-link {
    display: none;
  }
  .pad {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 800px) {
  .s-link {
    font-size: 28px;
  }
}

/*medium screens to large screens*/
@media (max-width: 700px) {
  .logo {
    max-width: 50%;
  }
  .header-container {
    margin-right: -6px;
  }
  .links {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50vw;
  }
  .link {
    padding: 3px;
  }
  .s-link {
    font-size: 24px;
  }
  .message {
    font-size: 14px;
    letter-spacing: 3px;
  }
}
/*Small screens */
@media (max-width: 577px) {
  .header-container {
    margin-right: -4px;
  }
  .message {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    transition: 250ms all;
  }
  .nav-links {
    flex: 2;
    align-items: center;
    justify-content: space-evenly;
  }
  .s-link {
    font-size: 18px;
  }
  .pad {
    display: flex;
    justify-content: flex-end;
  }
}
