@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  /* background-color: rgb(91, 97, 166); */
  /* background-color: rgb(16, 168, 166); */
  /* background-color: #200f21; */
  /* background-color: #7b88ff; */
}
.profile-img {
  border-radius: 100%;
  border: 2px solid white;
  height: 200px;
  width: 200px;
}
.img-title {
  display: flex;
  flex-direction: column;
}
.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 5px;
}
.welcome-message {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Montserrat";
  font-size: 22px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 50px;
  /* padding: 30px;
  margin: 5px; */
  /* width: 50px; */
}
a {
  font-size: 32px;
  padding: 5px;
}
.name-home {
  font-family: "Bebas Neue";
  font-size: 35px;
  letter-spacing: 5px;
  animation-name: name-animation;
  animation-duration: 3s;
  padding-left: 25px;
}
.home-projects-container {
  display: flex;
  flex-direction: row;
  margin: 40px;
}
.home-projects-title {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-family: "Bebas Neue";
  padding-top: 100px;
}

.hr-divider {
  padding-bottom: 20px;
}

.aboutme {
  padding-top: 80px;
  text-align: center;
  font-size: 22px;
  /* background-color: #7b88ff; */
}
.icons-media {
  display: flex;
  justify-content: center;
  height: 80px;
  padding: 15px;
  background-color: #7b88ff;
}

/* @keyframes name-animation {
  from {
    color: rgba(51, 121, 135);
  }
  to {
    color: rgba(166, 67, 97);
  }
} */
@media (max-width: 1200px) {
  .home-projects-container {
    flex-direction: column;
  }
  .aboutme {
    width: 600px;
    margin: 0 15px;
  }
  .icons-media {
    width: 300px;
    height: 150px;
    padding: 15px;
  }
  .welcome-message {
    font-size: 10px;
  }
  .img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 10px;
  }
  .img-title {
    display: flex;
    flex-direction: column;
  }
  .name-home {
    font-size: 25px;
    letter-spacing: 3px;
    animation-name: name-animation;
    animation-duration: 3s;
    padding-left: 25px;
  }
}
@media (max-width: 800px) {
  .welcome-message {
    font-size: 10px;
  }
  .aboutme {
    font-size: 18px;
    width: 400px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .img-container {
    display: flex;
    /* flex-wrap: wrap; */
    width: 100px;
  }

  .icons-media {
    display: flex;
    flex-wrap: wrap;
    width: 40px;
    height: 500px;
    padding: 15px;
  }
  .img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 10px;
  }
  .img-title {
    display: flex;
    flex-direction: column;
  }

  .name-home {
    font-size: 20px;
    letter-spacing: 3px;
    padding-left: 25px;
  }
}

@media (max-width: 570px) {
  .name-home {
    font-size: 22px;
  }
}

@media (max-width: 530px) {
  .welcome-message {
    width: auto;
  }
  .home-container {
    width: 400px;
  }
  .aboutme {
    width: 300px;
  }
}

/* @media (max-width: 770px) {
  .welcome-message {
    font-size: 10px;
  }
  .img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 10px;
  }
  .img-title {
    display: flex;
    flex-direction: column;
  }
  .name-home {
    font-size: 25px;
    letter-spacing: 3px;
    animation-name: name-animation;
    animation-duration: 3s;
    padding-left: 25px;
  }
} */
