@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
.home-container {
  display: flex;
  flex-direction: column;
  width: auto;
  background-color: rgb(255, 255, 255);
  color: rgb(65,74,76);
  font-family: 'Montserrat';
}
.home-top {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  /* background-color: rgb(48, 56, 70); */
  background-color: rgb(40,44, 52);
  width: 100%;
  min-height: 500px;
}
.user-pic {
  border-radius: 5%;
  max-width: 250px;
  max-height: 250px;
  margin-top: 5rem;
  background-size: cover;
}
.abe {
  /* color: #09d3ac; */
  color:  #F0DB4F;
  font-weight: 600;
}

.emoji-hand {
  height: 40px;
}

.hello-anime {
  font-size: 32px;
}
.hello-anime img {
  padding: 0 10px;
}
span.welcome-anime img:hover {
  transform: rotate(-40deg);
  transform: rotate(60deg);
}
div.hello-anime {
  font-weight: 600;
}
.bio {
  font-size: 18px;
}
.home-message {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.social-links-home {
  margin-top: 15px;
}
.social-links-home a {
  color: #fff;
  font-size: 2em;
  margin-left: 20px;
  
  
}
.social-links-home a:hover {
  /* color: #0B72B9; */
  /* color: #09d3ac; */
  color: #F0DB4F;
}

a {
  font-size: 32px;
  padding: 5px;
}
.name-home hr {
  width: 100%;
}

.bio h2 {
  color: #ef6c00;
}

.h-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  letter-spacing: 2px;
  width: 50%;
  padding-top: 100px;
}
.h-header hr {
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
}

.aboutme {
  padding-top: 40px;
  text-align: center;
  font-size: 22px;
  width: 800px;
}
.bio {
  padding: 1.5rem;
}
.lang {
  font-style: italic;
  /* color: #3282b8; */
  color: white;
}
.icons-media-home {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
  /* background-color: rgb(48, 56, 70); */
}
.last-p {
  margin-bottom: 80px;
  text-align: left;
}
.sir {
  border: 2px solid#3282b8;
  border-radius: 50%;
}

.h-card-section {
  display: flex;
  justify-content: center;
  margin: 100px 10px;
}

.timeline-container {
  padding: 0 20px;
  margin: 15px;
}



/* Laptop */
@media (max-width: 1024px) {
  .home-projects-container {
    flex-direction: column;
  }
  .aboutme {
    width: 600px;
    margin: 0 15px;
  }
  .icons-media-home {
    display: none;
  }
  .welcome-message {
    font-size: 14px;
  }
  .img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 10px;
  }
  .img-title {
    display: flex;
    flex-direction: column;
  }
  .name-home {
    font-size: 25px;
    letter-spacing: 3px;
    animation-name: name-animation;
    animation-duration: 3s;
  }
  .h-header {
    margin-top: 100px;
  }
}


@media (max-width: 955px) {
  .home-container {
    margin-top: 0;
    padding-top: 0;
  }

  .home-top {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 3rem;
  }
 
  .home-container {
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  .welcome-message {
    font-size: 10px;
  }
  .aboutme {
    font-size: 18px;
    width: 400px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .img-title {
    display: flex;
    flex-direction: column;
  }

  .name-home {
    font-size: 20px;
    letter-spacing: 3px;
  }
  .home-projects-title {
    margin-top: 155px;
  }
  .h-header {
    margin-top: 100px;
  }
}

@media (max-width: 600px) {
  .name-home {
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .aboutme {
    width: 300px;
  }
  .h-header {
    margin-top: 100px;
  }
}
