@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  background-color: rgb(255, 255, 255);
  color: rgb(65,74,76);
  font-family: 'Montserrat';
  margin-top: 100px;
}
.home-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.profile-img {
  border-radius: 100%;
  border: 2px solid white;
  height: 200px;
  width: 200px;
}
.img-title {
  display: flex;
  flex-direction: column;
}
.user-pic {
  border-radius: 5%;
  max-width: 250px;
  max-height: 250px;
  /* background-image: url('https://efrentavarez-resume.s3.us-east-2.amazonaws.com/z-2.PNG'); */
  background-size: cover;
}
.abe {
  color: #ef6c00;
}

.img-h3 {
  display: flex;
  flex-direction: row;
  /* margin-top: 50px; */
  /* align-items: flex-end; */
  /* justify-content: space-between; */
}

.bio {
  font-size: 18px;
}

.img-h3 h3 {
  color: #0B72B9;
}

.home-message {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Roboto Slab';
  margin-top: 15px;
}
.social-links-home{
  margin-top: 30px;
}
.social-links-home a {
  /* justify-content: space-evenly; */
  /* color: rgb(65,74,76); */
  /* color: #212121; */
  color: #ef6c00;
  font-size: 2em;
  margin-left: 20px;
  
}
.social-links-home a:hover {
  color: #0B72B9;
  /* font-size: 2.1em; */
}

a {
  font-size: 32px;
  padding: 5px;
}
.name-home hr {
  width: 100%;
}

.bio h2 {
  color: #ef6c00;
}

.h-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* margin: 150px 10px; */
  /* font-family: 'Bebas Neue', cursive; */
  /* font-family: 'Roboto'; */
  letter-spacing: 2px;
  width: 50%;
  padding-top: 100px;
}
.h-header hr {
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
}

.aboutme {
  /* font-family: 'Bebas Neue'; */
  padding-top: 40px;
  text-align: center;
  font-size: 22px;
  width: 800px;
}
.bio {
  padding: 20px;
}
.lang {
  font-style: italic;
  /* color: #3282b8; */
  color: white;
}
.icons-media-home {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.last-p {
  margin-bottom: 80px;
  text-align: left;
}
.sir {
  border: 2px solid#3282b8;
  border-radius: 50%;
}

.h-card-section {
  display: flex;
  justify-content: center;
  margin: 100px 10px;
}

.timeline-container {
  padding: 0 20px;
}

@media (max-width: 1200px) {
  .home-projects-container {
    flex-direction: column;
  }
  .aboutme {
    width: 600px;
    margin: 0 15px;
  }
  .icons-media-home {
    width: 600px;
    height: 80px;
    padding: 15px;
  }
  .welcome-message {
    font-size: 14px;
  }
  .img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 10px;
  }
  .img-title {
    display: flex;
    flex-direction: column;
  }
  .name-home {
    font-size: 25px;
    letter-spacing: 3px;
    animation-name: name-animation;
    animation-duration: 3s;
  }
  .h-header {
    margin-top: 100px;
  }
}

@media (max-width: 800px) {
  .welcome-message {
    font-size: 10px;
  }
  .aboutme {
    font-size: 18px;
    width: 400px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .img-title {
    display: flex;
    flex-direction: column;
  }

  .name-home {
    font-size: 20px;
    letter-spacing: 3px;
  }
  .home-projects-title {
    margin-top: 155px;
  }
  .h-header {
    margin-top: 100px;
  }
}

@media (max-width: 600px) {
  .icons-media-home{
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: normal;
    width: 40px;
    height: auto;
    padding: 15px;
  
  }
  .name-home {
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .img-h3 {
    padding-left: 40px;
  }
  .welcome-message {
    width: auto;
  }

  .aboutme {
    width: 300px;
  }
  .h-header {
    margin-top: 100px;
  }
}
