@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  /* margin-top: 150px; */
}
.profile-img {
  border-radius: 100%;
  border: 3px solid white;
  box-shadow: 3px 3px 3px 0.3px #cecece;
  /* width: 250px; */
  height: 200px;
}
.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 5px;
}
.welcome-message {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Montserrat";
  font-size: 22px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 50px;
  /* padding: 30px;
  margin: 5px; */
  /* width: 50px; */
}
a {
  font-size: 32px;
  padding: 5px;
}
.name-home {
  font-family: "Bebas Neue";
  font-size: 35px;
  letter-spacing: 5px;
  animation-name: name-animation;
  animation-duration: 3s;
}
.home-projects-container {
  display: flex;
  flex-direction: row;
  margin: 40px;
}
.home-projects-title {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-family: "Bebas Neue";
  padding-top: 100px;
}

.hr-divider {
  padding-bottom: 20px;
}

@keyframes name-animation {
  from {
    color: rgba(51, 121, 135);
  }
  to {
    color: rgba(166, 67, 97);
  }
}
