@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  height: 165px;
  border: 1px solid #cecece;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #948e99; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2e1437,
    #948e99
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2e1437,
    #948e99
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.terms {
  display: flex;
}
.links {
  display: flex;
  flex-direction: column;
}
.social-links {
  display: flex;

  flex-direction: row;
}
.contact {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.getintouch {
  text-align: center;
}
