@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.footer-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  height: 165px;
  border: 1px solid #cecece;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #5f6caf;
  color: #fff;
}
.terms {
  display: flex;
}
.links {
  display: flex;
  flex-direction: column;
}
.social-links {
  display: flex;

  flex-direction: row;
}
.contact {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.getintouch {
  text-align: center;
}
