@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.footer-container {
  display: flex;
  justify-content: space-evenly;
  /* height: 115px; */
  width: 100%;
  bottom: 0;
  left: 0;
  /* background-color: #3282b8; */
  background-color: #1b262c;
  color: #fff;
}

.links {
  display: flex;
  flex-direction: column;
}
.social-links {
  display: flex;
  padding-bottom: 10px;

  flex-direction: row;
}

.getintouch {
  text-align: center;
}

@media (max-width: 525px) {
  .contact p {
    margin: 25px 0;
    padding-left: 5px;
  }
}

@media (max-width: 320px) {
  .contact p {
    margin: 25px 0;
  }
}
