@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.footer-container {
  background-color: #0B72B9;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  position: relative;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.social-links-footer a {
  color: #fff;
}
.social-links-footer a:hover {
  color: #ef6c00;
}

.links {
  /* padding: 5px */
}
.social-links-footer {
  display: flex;
  justify-content: center;
}

.getintouch {
  font-size: 2em;
  text-align: center;
}

@media (max-width: 1200px) {
  .links {
    background-color: #0B72B9;
    padding: 0px;
  }
  .social-links-footer a {
    color: #fff;
    font-size: 30px;
    margin-right: 30px;
  }
  .links {
    padding-top: 0;
    margin-top: 0;
  }
  .getintouch {
    font-size: 18px;
    text-align: center;
  }
  .contact {
    margin-top: 15px;
  }
 
}

/* @media (max-width: 525px) {
  .contact p {
    margin: 25px 0;
    padding-left: 5px;
  }
  .social-links-footer a {
    color: #fff;
    font-size: 20px;
  }
  .getintouch {
    font-size: 14px;
    text-align: center;
  }
  .links {
    margin-top: 5px;
  }
}

@media (max-width: 320px) {
  .contact p {
    margin: 25px 0;
  }
} */
